<div style="padding: 70px 50px 40px 50px; color: black; ">
  <h2 class="bold">Mit der Stadt Aachen jetzt noch stressfreier vermieten.</h2>
  <br/>
  <br/>
  <h3 class="bold">Die Wohnungsgeberbestätigung jetzt ganz einfach digital ausstellen.</h3>
  <p style="margin-bottom: 50px;">
    Nutzen Sie jetzt den Bürgerservice der Stadt Aachen und stellen Sie Ihren Mietern, die Wohnungsgeberbestätigung ganz einfach digital aus. Nachdem Sie das Formular ausgefüllt haben, wird Ihr Mieter per E-Mail benachrichtigt und kann die Bestätigung anschließend auf seinem Gerät speichern.
  </p>
  <button mat-raised-button class="add-btn" [routerLink]="'/wohnungsgeberbestaetigung'">Jetzt Bestätigung ausstellen</button>
  <img src="assets/img/aachen/house.png" alt="" style="height: 200px; position: relative; top: 40px; left: 95px"/>
  <div style="width: 100%; top: 780px; right: 15px; position: absolute;">
    <span style="float: right; margin-right: 25px;">
      © STADT AACHEN
    </span>
  </div>
</div>

