<button class="close-dialog clickable" (click)="close()"><mat-icon>close</mat-icon></button>
<div class="add-card">
  <h3 class="bold" style="margin-bottom: 15px;">Musikdarbietung</h3>
  <form style="text-align: center;">
      <mat-form-field class="add-input">
        <mat-label>Musiker</mat-label>
        <input matInput name="musiker" [(ngModel)]="musiker" placeholder="Musiker" readonly>
      </mat-form-field>
      <br/>
      <mat-form-field class="add-input">
        <mat-label>Bereich</mat-label>
        <input matInput name="bereich" [(ngModel)]="bereich" placeholder="Bereich">
      </mat-form-field>
      <br/>
      <mat-form-field class="add-input">
        <mat-label>Zeitraum von</mat-label>
        <input matInput readonly [matDatepicker]="picker0" name="zeitraumVon" [(ngModel)]="zeitraumVon" placeholder="1.1.2000">
        <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
        <mat-datepicker #picker0></mat-datepicker>
      </mat-form-field>
      <br/>
      <mat-form-field class="add-input">
        <mat-label>Zeitraum bis</mat-label>
        <input matInput readonly [matDatepicker]="picker1" name="zeitraumBis" [(ngModel)]="zeitraumBis" placeholder="1.1.2000">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <br/>
      <div class="add-btn-background">
        <a class="add-btn" (click)="submit();" mat-raised-button>Senden</a>
      </div>
  </form>
</div>
