.login-title {
  font-size: 30px;
  margin-left: 30px;
  color: #818181;
}

.login-text {
  margin: 30px 0 40px 0;
  font: normal normal normal 24px/35px Transit;
  color: #818181;
}

.login-btn {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  background: #FFDB00 0 0 no-repeat padding-box;
  border-radius: 50px;
  text-align: center;
  font: normal normal bold 26px/34px Roboto;
  color: #FFFFFF;
}
