.top-menu {
  height: 70px;
  position: relative;
  margin: 15px 0 30px 0;
  background: #ffffff;
}

.top-menu div {
  top: 50%;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.top-menu mat-form-field {
  top: 50%;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.connection-text {
  margin: 7px 0 0 65px;
}

.add-btn {
  height: 70px;
  width: 280px;
  background: transparent linear-gradient(96deg, #FEE54B 0%, #FDD900 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0 3px 12px #FFDB0073;
  border-radius: 50px;
  font-size: 20px;
  font-family: "Roboto Light", sans-serif;
}

.add-btn-background {
  height: 70px;
  width: 290px;
  background: #FFFCE8 0 0 no-repeat padding-box;
  border-radius: 50px;
}
