<div class="top-menu">
  <div class="col-md-1" style="margin-left: 15px;">
    <img  src="assets/img/Gruppe%2058.png" />
  </div>
  <div class="col-md-4 connection-text">
    <h4 class="bold">Genehmigung - Musikdarbietung</h4>
  </div>
</div>
<div *ngIf="proof !== '' && proof !== undefined" style="margin: 0 65px 50px 65px; font-size: 18px;">
  <div *ngFor="let attribute of proof">
      <p [innerHtml]="'<strong>' + attribute.name + '</strong>: ' + attribute.value"></p>
    <br/>
  </div>
</div>
<div style="text-align: center">
  <button class="add-btn" mat-raised-button (click)="closeProofDetailView();">Okay</button>
</div>

